<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Books</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Publisher</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}"> <!-- asking the model to give us the property of books; an iterator over books -->
                <td th:text="${book.id}">123</td>
                <td th:text="${book.title}">Spring in Action</td>
                <td th:text="${book.publisher.name}">DK</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>